@page "/room/{RoomId:int}"
@rendermode InteractiveServer
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity
@using DiceGame.Data
@using DiceGame.Components.Account
@using System.Threading
@attribute [Authorize]
@implements IDisposable

@inject UserManager<ApplicationUser> userManager
@inject NavigationManager NavigationManager
@inject PlayerData PlayerData

<PageTitle>Dice Game: PVP</PageTitle>

@if (!loaded)
{
    <p>Loading...</p>
}
else if (room is null)
{
    <h1>Nothing here</h1>
}
else
{
    @if (room.GameOver)
    {
        if (room.Winner < 0)
        {
            <h1>Draw</h1>
        }
        else
        {
            <h1>@(room.GetUser(room.Winner).UserName) wins!</h1>
        }
    }
    else
    {
        rematchSelected = false;
        <h1>Turn @(room.Turn+1)</h1>
    }

    <div class="d-flex">
        @for (int i=0; i<2; i++)
        {
            bool curSide = (!room.GameOver && room.Side == i);
            <div class="card text-center mx-3 @(curSide?"bg-primary text-light":"")" style="width: 20rem">
                @if (room.GetUser(i).Id == user?.Id)
                {
                    <h2 class="card-header text-light bg-dark">@(room.GetUser(i).UserName)</h2>
                }
                else
                {
                    <h2 class="card-header">@(room.GetUser(i).UserName)</h2>
                }
                <div class="card-body">
                    <h1>@(room.Scores[i])</h1>

                    <h2>
                        @if (String.IsNullOrEmpty(room.Rolls[i])) { <text>&nbsp;</text> }
                        else { @(room.Rolls[i]) }
                    </h2>

                    @if (!room.GameOver && room.Side == i)
                    {
                        <h1 class="text-danger bg-@(room.TimeOutSeconds > 10 || (int)Math.Floor(room.TimeOutSeconds*2) % 2 == 0 ? "light" : "dark")">
                            @(Math.Round(room.TimeOutSeconds))
                        </h1>
                    }

                    @if (!room.GameOver && room.Side == i && room.GetUser(i).Id == user?.Id)
                    {
                        <div>
                            <button @onclick="@(()=>RollDice(false))"  class="btn btn-lg btn-block btn-dark">Two Dice</button>
                            <button @onclick="@(()=>RollDice(true))"   class="btn btn-lg btn-block btn-danger">Super Die</button>
                        </div>
                    }
                    else if (room.GameOver && room.GetUser(i).Id == user?.Id)
                    {
                        if (!rematchSelected)
                        {
                            <h3>Rematch?</h3>
                            <div>
                                @if (!room.TimedOut)
                                {
                                    <button @onclick="@(() => RematchChoice(true))"  class="btn btn-primary">Yes!</button>
                                }
                                <button @onclick="@(() => RematchChoice(false))" class="btn btn-danger">No...</button>
                            </div>
                        }
                    }
                </div>
            </div>
        }
    </div>
}


@code
{
    [Parameter]
    public int RoomId { get; set; } = -1;

    private ApplicationUser? user;
    private Room? room;
    private bool rematchSelected = false;
    private bool loaded = false;

    [CascadingParameter]
    private Task<AuthenticationState>? authenticationState  { get; set; }


    protected void RollDice(bool super)
    {
        if (room is null || user is null) return;
        if (room.GetUser(room.Side).Id != user.Id) return;

        room.ResetTimeOut();

        var rng = Random.Shared;

        if (super)
        {
            var d1 = rng.Next(1, 6-1);
            if (d1 == 1)
            {
                // game over
                room.Rolls[room.Side] = "X";
                room.GameOver = true;
                room.Step++;
                room.Winner = room.Side;
            }
            else
            {
                if (d1 == 6) d1 = 24;
                room.Rolls[room.Side] = $"+{d1}!";
                room.Scores[room.Side] += d1;
                room.Step++;
            }
        }
        else
        {
            var d1 = rng.Next(1, 6-1);
            var d2 = rng.Next(1, 6-1);
            room.Rolls[room.Side] = $"+{d1} +{d2}";
            room.Scores[room.Side] += d1 + d2;
            room.Step++;
        }

        room.Rolls[room.Side] = "";

        if (room.Turn >= 3 && !room.GameOver)
        {
            room.GameOver = true;
            if      (room.Scores[0] > room.Scores[1]) room.Winner = 0;
            else if (room.Scores[1] > room.Scores[0]) room.Winner = 1;
        }

        room.OnRoomChanged();
    }


    protected void RematchChoice(bool choice)
    {
        if (room is null || user is null) return;
        if (room.GetUser(0).Id != user.Id && room.GetUser(1).Id != user.Id) return;

        rematchSelected = true;

        if (choice && !room.TimedOut)
        {
            if (Interlocked.Increment(ref room.Rematch) >= 2)
            {
                room.ResetGame();
                room.ResetTimeOut();
            }

            room.OnRoomChanged();
        }
        else
        {
            PlayerData.RemoveRoom(room.Id);
            NavigationManager.NavigateTo("/");
        }
    }


    void UserRoomChange(object? sender, EventArgs e)
    {
        if (user is null || PlayerData.GetUserRoom(user.Id) != room)
        {
            NavigationManager.NavigateTo("/");
        }
    }


    void RoomChanged(object? sender, EventArgs e)
    {
        InvokeAsync(StateHasChanged);
    }


    protected async override Task OnInitializedAsync()
    {
        room = PlayerData.GetRoom(RoomId);
        if (room is not null) room.RoomChanged += RoomChanged;

        if (authenticationState is not null)
        {
            var principal = (await authenticationState).User;
            if (principal is not null) user = await userManager.GetUserAsync(principal);
        }

        if (user is not null) PlayerData.RegisterUserRoomChangeHandler(user.Id, UserRoomChange);

        loaded = true;
    }


    public void Dispose()
    {
        if (room is not null) room.RoomChanged -= RoomChanged;
        if (user is not null) PlayerData.UnregisterUserRoomChangeHandler(user.Id, UserRoomChange);
    }
}
